<form (ngSubmit)="onSubmit()">
    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title>Edit Film</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Placeholder">
            </mat-form-field>
            <br>
            <label>Is Streamable</label>
            <mat-radio-group>
            <mat-radio-button value="auto">Auto</mat-radio-button>
            <mat-radio-button value="always">Always</mat-radio-button>
            </mat-radio-group>
            <br>
            <mat-form-field>
                <mat-label>Release date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Time</mat-label>
                <input matInput placeholder="Placeholder">
            </mat-form-field>
            <br>
            <button mat-button>Submit</button>
        </mat-card-content>
    </mat-card>
</form>