<form (ngSubmit)="onSubmit()">
    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title>Edit Artist</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Placeholder">
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Birthdate</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Listeners</mat-label>
                <input matInput placeholder="Placeholder">
            </mat-form-field>
            <br>
            <mat-list role="list">
                @for (film of films; track film.name) {
                    <mat-list-item role="listitem">{{film.name}}</mat-list-item>
                }
            </mat-list>
            <br>
            <button mat-button>Submit</button>
        </mat-card-content>
    </mat-card>
</form>